@font-face {
    font-family: 'UQB';
    src: url('../../font/ukij-qara-bold.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: "UQB", sans-serif;
    background-color: #f0f0f0;
    font-size: 16px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(45deg, #FFA090, #20B2d0);
}

.form-label {
    display: block;
    margin-bottom: 10px;
}

.form-input {
    padding: 8px;
    border: 1px solid #bb0;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.form-button {
    background-color: #4CAF79;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #67d268;
}

.divider {
    width: 100%;
    border: none;
    border-top: 1px solid #bb0;
    margin: 20px 0;
    transition: border-color 0.3s ease;
}

.text-label {
    margin-top: 20px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .form {
        max-width: none;
        width: 90%;
        border-radius: 0;
    }
}


.myButton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #009688;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.myButton::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg, transparent, #20B2d0, #FFA090, transparent);
    pointer-events: none;
    z-index: 1;
    opacity: 0.5;
    transform: rotate(45deg);
    animation: noise 1s infinite linear alternate-reverse;
    transition: 0.6s;
}

.myButton:hover {
    background: transparent;
    box-shadow: 0 0 20px 5px linear-gradient(#FFA090, #20B2d0);
}

@keyframes noise {
    0% {
        transform: rotate(45deg) translate(-50%, -50%);
    }
    100% {
        transform: rotate(45deg) translate(50%, 50%);
    }
}

@media only screen and (max-width: 768px) {
    header {
        height: 200px;
    }
    h1 {
        font-size: 2rem;
    }
    article {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
        box-sizing: border-box;
    }
}